




/* navi */



#logo_image {
    width: 40vw;
    max-width: 300px;
    height: 100%;
    display: inline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
    color: transparent;
    background-color: white;
    
}

/* slider */




#bread_crumb {
    width: 60%;
    height: auto;
    position: absolute;
    bottom:50px;
    margin-left: 20vw;
}
#bread_crumb button{
    width: 48%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

/* about_text */


/* footer */





/* media queries */
/* @media only screen and (min-width: 1024px) {

    .card {
        margin-left: 20vw;
        width: 800px !important;
    }
 
}
  */