body {
    background-color: #2E2E2E;
    min-width: 300px;
    min-height: 500px;
    width: auto;
    height: auto;
    color: azure;
    margin: 0px;
    padding: 0px;
    font-size: 1.17em;
}

*{  border: 0px solid blue; 
    margin: 1px;
    
}


/* navi */
#logo_navigation_bar {
    
    width: 100%;
    min-height : 63px;
    height: 14.5vh;
    color: #2E2E2E;
    background-color:white;


}

.navi_contents {
    min-width: 17vw;
    max-width: 170px;
    height: 40%;
    display: inline;
    float : right;
    text-align: center;
    margin-top: 5vh;
    border-bottom: navy;
    border-style: ridge;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;

}
#client_area{
    border:0px;
}

#logo_image {
    width: 40vw;
    max-width: 300px;
    height: 100%;
    display: inline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
    color: aliceblue;
    
}

/* slider */

#slider_box {
    width: 100%;
    min-height : 200px;
    height: 82vh;
    color: #2E2E2E;
    background-color: aliceblue;
    margin-top: 1vh;
    background-position: center;
    background-repeat: no-repeat;
    
}

#slider_header {
    width: 70%;
    height: auto;
    padding-top: 10vw;
    margin-left: 15vw;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 1.8em;
    background-color:rgba(255, 255, 255, 0.671);

}
#slider_text {
    width: 70%;
    height: auto;
    margin-top: 0.5%;
    margin-left: 15vw;
    font-family: 'Quicksand', sans-serif;
    background-color:rgba(255, 255, 255, 0.671);
    font-size: 1.2em;
}
#tell_more_button {
    width: 20%;
    height: auto;
    margin-top: 3%;
    margin-left: 15vw;
    font-family: 'Crimson Text', serif;
}
#bread_crumb {
    width: 60%;
    height: auto;
    position: absolute;
    bottom:50px;
    margin-left: 20vw;
}
#bread_crumb button{
    width: 48%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* about_text */

#about_text {
    width: 98.6%;
    height: auto;
    text-align: center;
    background-color: white;
    margin: 5px;
    

}

#about_text h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4.5em;
    color: #008ED3;
}

#about_text p {
    font-family: 'Arimo', sans-serif;
    font-size: 1.2em;
    margin: 20px 20px 0px 20px;
    color: #2E2E2E;
}
#about_text button{
    margin: 0px 0px 20px 0px;
}
/* footer */
#footer_box {
    padding-top: 10px;
    width:100%;
    height: 60px;
    text-align: center;
    background-color:white;
    color: #2E2E2E;
}